In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv("jester-data-1.csv")

In [3]:
df.head()

,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.5,-9.85,4.17,-8.98,...,2.82.2,99.18,99.19,99.20,99.21,99.22,-5.63,99.23,99.24,99.25
0,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
1,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
2,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
3,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
4,100,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45

In [4]:
df_copy = df.copy()

In [6]:
count = 0 
while(count < 183528):
    for index, row in df_copy.iterrows():
        for i in range(2):
            rc = random.randint(0, 100)
            if (row[rc] != 99 and count < 183528):
                df_copy.iat[index,rc] = 99
                count = count + 1

In [7]:
df_copy.head()

,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.5,-9.85,4.17,-8.98,...,2.82.2,99.18,99.19,99.20,99.21,99.22,-5.63,99.23,99.24,99.25
0,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,99.00,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
1,49,99.00,99.00,99.00,99.00,99.00,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
2,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
3,91,99.00,4.61,99.00,-5.39,99.00,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,99.00,6.55,99.00,1.60
4,100,99.00,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,99.00,-9.08,-5.05,-3.45

In [8]:
count = 0 
for index, row in df_copy.iterrows():
    for i in row:
        if(i == 99):
            count = count + 1
print count

870536

In [9]:
print df_copy.head()

    74  -7.82   8.79  -9.66  -8.16  -7.52  -8.5  -9.85  4.17  -8.98  ...    \
0  100   4.08  -0.29   6.36   4.37  -2.38 -9.66  99.00 -5.34   8.88  ...
1   49  99.00  99.00  99.00  99.00  99.00  9.27   9.03  9.27  99.00  ...
2   48  99.00   8.35  99.00  99.00   1.80  8.16  -2.82  6.21  99.00  ...
3   91  99.00   4.61  99.00  -5.39  99.00  1.60   7.04  4.61  -0.44  ...
4  100  99.00  -3.54   0.44  -8.50  -7.09 -4.32  -8.69 -0.87  -6.65  ...

   2.82.2  99.18  99.19  99.20  99.21  99.22  -5.63  99.23  99.24  99.25
0    2.82  -4.95  -0.29   7.86  -0.19  -2.14   3.06   0.34  -4.32   1.07
1   99.00  99.00  99.00   9.08  99.00  99.00  99.00  99.00  99.00  99.00
2   99.00  99.00  99.00   0.53  99.00  99.00  99.00  99.00  99.00  99.00
3    5.19   5.58   4.27   5.19   5.73   1.55  99.00   6.55  99.00   1.60
4   -3.54  -6.89  -0.68  -2.96  -2.18  -3.35  99.00  -9.08  -5.05  -3.45

[5 rows x 101 columns]